//NavBar

.inactive {
  display: none;
}

.active {
  display: flex;
  flex-direction: column;
  font-size: large;
  position: relative;
}

#hamburger > img {
  width: 50px;
}

.hamb {
  text-align: right;
}

.sous-menu {
  margin: 5px;
  background-color: #4c3c3c;
  box-shadow: 10px 5px 5px black;
  border-radius: 10px;
  height: 30px;
  width: 80px;
  text-align: center;
}

a {
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: RGB(179 209 67);
  height: 50px;
}

.gauche {
  align-items: center;
}

.logo {
  width: 50px;
}

.header {
  height: 480px;
  background-image: url(../photos/20161202_101925.jpg);
}

//contenu

.points {
  background-image: url(../img/points.svg);
  height: 100px;
  width: auto;
}

.midle-top {
  display: flex;
  justify-content: center;
}

.midle-top > img {
  width: auto;
  text-align: center;
}

.contain {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contain > img {
  width: 50%;
}

@media (min-width: 768px) {
  //NAVBAR
  #hamburger {
    display: none;
  }

  .navbar {
    display: flex;
    justify-content: flex-start;
  }

  #menu {
    display: flex;
    flex-direction: row;
  }

  .gauche {
    width: 200px;
  }

  h1 {
    text-align: center;
  }

  .sous-menu {
    margin: 5px;
    background-color: none;
    box-shadow: none;
    border-radius: none;
    height: 30px;
    width: 80px;
    text-align: center;
  }

  //contenu

  .contain > img {
    width: 100%;
  }
}
